@model Nop.Plugin.Payments.Coin.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentCoin" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>@T("Plugins.Payments.Coin.Instructions")</p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TransactModeId_OverrideForStore" asp-input="TransactModeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TransactModeValues" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="TransactModeId" asp-items="Model.TransactModeValues" />
                        <span asp-validation-for="TransactModeId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GasPrice_OverrideForStore" asp-input="GasPrice" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GasPrice" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GasPrice" />
                        <span asp-validation-for="GasPrice"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GasLimit_OverrideForStore" asp-input="GasLimit" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GasLimit" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GasLimit" />
                        <span asp-validation-for="GasLimit"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WalletAddress_OverrideForStore" asp-input="WalletAddress" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WalletAddress" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WalletAddress" />
                        <span asp-validation-for="WalletAddress"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CoinChainInfo_OverrideForStore" asp-input="CoinChainInfo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CoinChainInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CoinChainInfo" />
                        <span asp-validation-for="CoinChainInfo"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>