@model RealOnePageCheckoutModel

@inject IWorkContext workContext
@inject IWebHelper webHelper;
@inject RealOnePageCheckoutSettings onePageCheckoutSettings;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Checkout").Text);
    NopHtml.AppendPageCssClassParts("html-real-opc-page");

    var storeLocation = webHelper.GetStoreLocation();
    var themeName = await ThemeHelper.GetPluginThemeAsync(Plugin.FolderName);
}

@if (Model.TotalProducts > 0 && !Model.ShowNoShippingMethodsMessage)
{
    <script src="~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/jquery.livequery.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/angular/angular.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/ie8-fixes.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/app.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shared/address.service.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shared/api.service.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shared/data.service.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shared/stateHolder.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/utils/object.utility.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/utils/namedQueue.utility.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/utils/nativeEvents.utility.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/filters/countrySubjectToVat.filter.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/filters/prepareName.filter.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/filters/textPrompt.filter.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/filters/priceAdjustment.filter.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/filters/prepareEditUrl.filter.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/billingAddress/billingAddress.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/billingAddress/billingAddress.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/billingAddress/billingAddress.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shippingAddress/shippingAddress.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shippingAddress/shippingAddress.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shippingAddress/shippingAddress.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/paymentMethods/paymentMethods.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/paymentMethods/paymentMethods.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/paymentMethods/paymentMethods.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shippingMethods/shippingMethods.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shippingMethods/shippingMethods.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/shippingMethods/shippingMethods.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderSummary/orderSummary.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderSummary/orderSummary.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderSummary/orderSummary.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderTotal/orderTotal.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderTotal/orderTotal.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderTotal/orderTotal.service.min.js" asp-location="Footer"></script>

    if (onePageCheckoutSettings.ShowDiscountBox)
    {
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/discountBox/discountBox.controller.min.js" asp-location="Footer"></script>
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/discountBox/discountBox.context.min.js" asp-location="Footer"></script>
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/discountBox/discountBox.service.min.js" asp-location="Footer"></script>
    }

    if (onePageCheckoutSettings.ShowGiftCardBox)
    {
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/giftCardBox/giftCardBox.controller.min.js" asp-location="Footer"></script>
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/giftCardBox/giftCardBox.context.min.js" asp-location="Footer"></script>
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/giftCardBox/giftCardBox.service.min.js" asp-location="Footer"></script>
    }

    if (onePageCheckoutSettings.ShowEstimateShipping)
    {
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/estimateShipping/estimateShipping.controller.min.js" asp-location="Footer"></script>
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/estimateShipping/estimateShipping.context.min.js" asp-location="Footer"></script>
        <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/estimateShipping/estimateShipping.service.min.js" asp-location="Footer"></script>
    }

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/checkoutAttributes/checkoutAttributes.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/checkoutAttributes/checkoutAttributes.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/checkoutAttributes/checkoutAttributes.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderConfirm/orderConfirm.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderConfirm/orderConfirm.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/orderConfirm/orderConfirm.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/pickupInStore/pickupInStore.controller.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/pickupInStore/pickupInStore.context.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/pickupInStore/pickupInStore.service.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/dispatchers/data.dispatcher.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Scripts/app/external/external.controller.min.js" asp-location="Footer"></script>
    
    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;

    <link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Styles/RealOnePageCheckout.common.css" />

    if (supportRtl)
    {
        <link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Styles/RealOnePageCheckout.common.rtl.css" />
    }

    var realOnePageCheckoutCssFilePath = "~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Themes/" + themeName + "/Content/RealOnePageCheckout.css";

    <link rel="stylesheet" href="@realOnePageCheckoutCssFilePath" />

    if (supportRtl)
    {
        var realOnePageCheckoutRtlCssFilePath = "~/Plugins/SevenSpikes.Nop.Plugins.RealOnePageCheckout/Themes/" + themeName + "/Content/RealOnePageCheckout.rtl.css";

        <link rel="stylesheet" href="@realOnePageCheckoutRtlCssFilePath" />
    }

    @Html.Hidden("storeLocation", storeLocation)
    @Html.Hidden("flyoutShoppingCartUrlROPC", Url.RouteUrl("NopOPCFlyoutCart"))
    @Html.Hidden("flyoutShoppingCartPanelSelectorROPC", Html.Encode(onePageCheckoutSettings.FlyoutCartPanelSelector))
    @Html.Hidden("shoppingCartMenuLinkSelectorROPC", Html.Encode(onePageCheckoutSettings.ShoppingCartMenuLinkSelector))

    <script asp-location="Footer">
        $(document).ready(function () {
            function getWindowProportions() {
                var e = window, a = 'inner';
                if (!('innerWidth' in window)) {
                    a = 'client';
                    e = document.documentElement || document.body;
                }

                var result = { width: e[a + 'Width'], height: e[a + 'Height'] };

                return result;
            }

            function scrollToElement(elementToScroll) {

                $('html, body').animate({
                    scrollTop: $(elementToScroll).offset().top
                }, 0);
            }

            $('.page-body').on('click', '.ropc .section-title', function () {
                var result = getWindowProportions();

                if (result.width < 769) {
                    $(this).toggleClass('active');
                    $(this).siblings('.section-body').slideToggle('slow');
                }
            });

            $(document).on('orderConfirmError', function () {
                var result = getWindowProportions();

                if (result.width < 769) {
                    var billingAddress = '.billing-address .section-title.title';
                    var shippingAddress = '.shipping-address .section-title.title';

                    var doesBillingFormHaveErrors = $('.billing-address .inputs input.has-error').length > 0;
                    var doesShippingFormHaveErrors = $('.shipping-address .inputs input.has-error').length > 0;

                    if (doesBillingFormHaveErrors) {
                        $(billingAddress).siblings('.section-body').slideDown('fast');

                        scrollToElement(billingAddress);
                    }

                    if (doesShippingFormHaveErrors) {
                        $(shippingAddress).siblings('.section-body').slideDown('fast');

                        if (!doesBillingFormHaveErrors) {
                            scrollToElement(shippingAddress);
                        }
                    }
                }
            });

            $(document).on('nopOnePageCheckoutPanelsLoadedEvent', function () {
                var nameMaxWidth = 0;
                $('.payment-details label').each(function () {
                    nameMaxWidth = Math.max(nameMaxWidth, $(this).outerWidth());
                });

                $('.payment-details label').css('width', nameMaxWidth + 'px');
            });
        });
    </script>
}

<div class="page checkout-page" ng-app="realOnePageCheckout">
    <div class="page-title">
        <h1>@T("SevenSpikes.RealOnePageCheckout.Public.CheckoutTitle")</h1>
    </div>
    <div class="page-body">
        <div class="ropc">
            @if (Model.TotalProducts > 0 && !Model.ShowNoShippingMethodsMessage)
            {
                <form id="checkoutForm" name="checkoutForm" ng-controller="OrderConfirmController as vm" valid-submit="vm.validateForm(checkoutForm)" novalidate>

                    @Html.AntiForgeryToken()

                    @{ await Html.RenderPartialAsync("_AjaxLoader", "confirm-order-loader"); }

                    <div class="panel-group panel-group-left">
                        <div class="panel billing-address-panel">
                            @{ await Html.RenderPartialAsync("BillingAddress"); }
                        </div>
                        <div class="panel shipping-address-panel">
                            @{ await Html.RenderPartialAsync("ShippingAddress"); } 
                        </div>

                        @if (onePageCheckoutSettings.ShowEstimateShipping)
                        {
                            <div class="panel estimate-shipping-panel">
                                @{ await Html.RenderPartialAsync("EstimateShipping"); } 
                            </div>
                        }
                    </div>

                    <div class="panel-group panel-group-right-top">
                        <div class="panel shipping-method-panel">
                            @{ await Html.RenderPartialAsync("ShippingMethod"); }
                        </div>
                        <div class="panel payment-method-panel">
                            @{ await Html.RenderPartialAsync("PaymentMethod"); }
                        </div>
                    </div>

                    <div class="panel-group panel-group-right-middle">
                        <div class="panel order-summary-panel">
                            @{ await Html.RenderPartialAsync("OrderSummary"); }
                        </div>
                    </div>

                    <div class="panel-group panel-group-right-bottom">
                        <div class="panel attributes-panel">
                            @{ await Html.RenderPartialAsync("CheckoutAttributes"); }
                        </div>

                        @if (onePageCheckoutSettings.ShowDiscountBox)
                        {
                            <div class="panel coupon-box-panel">
                                @{ await Html.RenderPartialAsync("DiscountBox"); }
                            </div>
                        }

                        @if (onePageCheckoutSettings.ShowGiftCardBox)
                        {
                            <div class="panel giftcard-box-panel">
                                @{ await Html.RenderPartialAsync("GiftCardBox"); } 
                            </div>
                        }

                        <div class="panel order-totals-panel">
                            @{ await Html.RenderPartialAsync("OrderTotals"); }
                        </div>
                        <div class="panel complete-order-panel">
                            <div class="order-confirm" ng-show="vm.orderConfirmData.errors.length > 0">
                                <ul class="error-list">
                                    <li class="error-item" ng-repeat="error in vm.orderConfirmData.errors track by $index">
                                        <span class="error-text">{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="terms-of-service" ng-show="vm.config['termsOfServiceOnOrderConfirmPage']">
                                <div>
                                    <input type="checkbox" id="terms-of-service" name="termsOfService" ng-model="termsOfService" ng-required="vm.config['termsOfServiceOnOrderConfirmPage']" />
                                    <label for="terms-of-service"><span>@T("Checkout.TermsOfService.IAccept")</span> <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a></label>
                                    <script asp-location="Footer">
                                        $(document).ready(function () {
                                            $('#read-terms').on('click', function (e) {
                                                e.preventDefault();
                                                displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                                            });
                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="buttons complete-button">
                                <button type="submit" data-processing="@T("SevenSpikes.RealOnePageCheckout.Public.ProcessingButton")" data-complete="@T("SevenSpikes.RealOnePageCheckout.Public.CompleteButton")">@T("SevenSpikes.RealOnePageCheckout.Public.CompleteButton")</button>
                            </div>
                            <div class="addon-buttons">
                                @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@

                                @foreach (var viewComponentName in Model.ButtonPaymentMethodViewComponentNames)
                                {
                                    @await Component.InvokeAsync(viewComponentName)
                                }
                            </div>
                        </div>

                        @*<div class="cross-sells">
                                @Html.Action("CrossSellProducts", "Product")
                            </div>*@
                    </div>
                </form>
            }
            else if (Model.ShowNoShippingMethodsMessage)
            {
                <span>@T("SevenSpikes.RealOnePageCheckout.Public.NoShippingProvidersError")</span>
            }
            else
            {
                <span>@T("SevenSpikes.RealOnePageCheckout.Public.EmptyShoppingCart")</span>
            }
        </div>
    </div>
    <div ng-controller="ExternalController as vm" ng-hide="true"></div>
</div>

<span style="display: none" id="invalidFormMessage">@T("SevenSpikes.RealOnePageCheckout.Public.InvalidForm")</span>
<span style="display: none" id="invalidFormMessageForTermsOfService">@T("SevenSpikes.RealOnePageCheckout.Public.TermsOfServiceNotChecked")</span>