@model RealOnePageCheckoutSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="AjaxUpdatePaymentMethodsOnAddressFieldsUpdate_OverrideForStore" asp-input="AjaxUpdatePaymentMethodsOnAddressFieldsUpdate" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AjaxUpdatePaymentMethodsOnAddressFieldsUpdate" />
        </div>
        <div class="col-md-9">
            <select id="@Html.IdFor(model => model.AjaxUpdatePaymentMethodsOnAddressFieldsUpdate)" name="@Html.IdFor(model => model.AjaxUpdatePaymentMethodsOnAddressFieldsUpdate)" multiple="multiple" data-placeholder="@T("SevenSpikes.RealOnePageCheckout.Admin.Settings.AjaxUpdatePaymentMethodsOnAddressFieldsUpdate.SelectFields")">
                        
                @foreach (string addressField in Model.AvailableAddressFields)
                {
                    bool isSelected = Model.AjaxUpdatePaymentMethodsOnAddressFieldsUpdate.Contains(addressField);

                    <!option @Html.Raw(isSelected ? "selected='selected'" : string.Empty)>@addressField</!option>
                }
            </select>
            <span asp-validation-for="AjaxUpdatePaymentMethodsOnAddressFieldsUpdate"></span>
        </div>
    </div>
</div>