@model RealOnePageCheckoutSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="PersistedBillingAddressFields_OverrideForStore" asp-input="PersistedBillingAddressFields" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PersistedBillingAddressFields" />
        </div>
        <div class="col-md-9">
            <select id="@Html.IdFor(model => model.PersistedBillingAddressFields)" name="@Html.IdFor(model => model.PersistedBillingAddressFields)" multiple="multiple" data-placeholder="@T("SevenSpikes.RealOnePageCheckout.Admin.Settings.PersistedBillingAddressFields.SelectFields")">
                        
                @foreach (string addressField in Model.AvailableAddressFields)
                {
                    bool isSelected = Model.PersistedBillingAddressFields.Contains(addressField);

                    <!option @Html.Raw(isSelected ? "selected='selected'" : string.Empty)>@addressField</!option>
                }
            </select>
            <span asp-validation-for="PersistedBillingAddressFields"></span>
        </div>
    </div>
</div>